<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcode.qsystem.service.dataaccess.dao.ServiceDAO">
<cache flushInterval="10000"></cache>
<select id="selectAll" resultType="com.qcode.qsystem.service.common.entity.ServiceEntity">
	SELECT id,
			br_code,
			set_code,
			set_name,
			hash,
			assign_by,
			img,
			shortcut  FROM SERVICE
</select>
</mapper>